@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
<div>
    <div class="text-center mt-5">
        <h3 class="mb-3">Please fill out Student application!</h3>
        <h4 class="mb-3">It's required for all students</h4>
        <a class="btn btn-primary" asp-action="StudentApplication">Start</a>
    </div>
</div>
</body>
</html>